<%# set up boilerplate html for ALL pages %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mybrary</title>
</head>
<body>
  Before
  <br>
  <%- body %> <%# other page content is inserted here, other HTML stuff is the same for all pages %>
  <br>
  After
</body>
</html>