<%# set up boilerplate html for ALL pages %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mybrary</title>
</head>
<body>

  <%- include('../partials/header.ejs')  %> <%# include file for all pages/routes %>
  <%- include('../partials/errorMessage.ejs')  %>
  <%- body %> <%# other page content is inserted here, other HTML stuff is the same for all pages %>

</body>
</html>